.desc{
    font-family: cursive;
    font-size:x-large;
}

@media (min-width: 410px) {
    .container {
        margin-top: 10%;
        display: flex;
        justify-content: space-evenly
    }
}

@media (max-width: 410px) {
    .container {
        margin-top: 20%;
    }

}

@media (min-height: 350px) {
img {
    max-width: 250px;
    max-height: 230px;
    }
}

@media (max-height: 350px) {
    img {
        max-width: 250px;
        max-height: 200px;
        }
    }
