.desc{
    font-family: cursive;
    font-size:x-large;
}

@media (min-width: 1200px) {
    .container {
        margin-top: 10%;
        display: flex;
        justify-content: space-evenly
    }
}

@media (max-width: 1200px) {
    .container {
        margin-top: 20%;
    }

}

@media (min-width: 1200px) {
img {
    max-width: 250px;
    max-height: 230px;
    }
}

@media (max-width: 1200px) {
    img {
        width: 150px;
        height: 150px;
        }
    }
