.contact-container {
    display: flex;
    justify-content: space-evenly;
}
.contact-container {
    margin-top: 10%;
}


.next-contact {
    margin-left: 10px;
}

.contact-info {
    font-weight: 600;
}