.contact-container {
    display: flex;
    justify-content: space-evenly;
}

@media (min-width: 500px) {
    .contact-container {
        margin-top: 20%;
    }
}

@media (max-width: 500px) {
    .contact-container {
        margin-top: 40%;
    }
}

.next-contact {
    margin-left: 10px;
}

.contact-info {
    font-weight: 600;
}