a {
    text-decoration:none;
    color: black;
    text-shadow: 0cap;
    font-weight: 600;

}

.link {
    margin-left: 2%;
}


@media (min-width: 500px) {
    .link1 {
        margin-left: 35%;
    }
}